* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body article {
  margin-left: 150px;
  margin-right: 150px;
}

body header figure {
  background: url(http://3.bp.blogspot.com/_RJ5ERFaftvw/S1-PLQHIrMI/AAAAAAAAAiM/BfpLVh2v_ck/S1600-R/foto.twitter1.gif.png);
  opacity: 0.5;
  box-shadow: 0px 0px 3px 6px black;
  height: 170px;
}

body header h1 {
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 0px;
  margin-top: 0px;
  bottom: 5px;
  text-align: center;
}

body header h1 a {
  font-size: 0.72em;
}
 
body header nav {
  background-color: #ECF0F1;
}

body header nav ul {
  margin-left: 150px;
  margin-right: 150px;
  list-style: none; 
  padding: 14px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

body header nav ul li {
  display: inline; 
  color: #95A5A6;
  margin-right: 40px;
}

body header nav ul li a {
  color: #95A5A6;
}

ul.posts {
  list-style: none;
  text-align: center;
}

ul.posts li {
  display: inline; 
}

ul.posts li figure {
  display: inline-block;
  margin: 0 8px 8px 8px;
  width: 232px;
  vertical-align: top;
}

ul.posts li figure img {
  height: 140px; 
}

ul.posts li figure figcaption {
  text-align: left;
  line-height: 1.2;
}

