article.destaque {
  padding: 0 !important;

  figure {
    margin: 0;
    padding: 0;
    
    img, iframe {
      width: 100%;
      max-width: 370px;
      
      &:hover {
        box-shadow: none;
        opacity: 0.8;
      }
    }

    iframe {
      min-height: 200px;
    }
  }

  p {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.1;
    margin: 0;
    margin-top: 5px;
    display: inline-block;
  }
}


