.destaques {
	.make-row();
}

.destaque {
	.clearfix;
	padding: 0 !important;

  figure {
    margin-bottom: 0;
    
    img, object {
      width: 100%;
      max-width: 370px;
    }

    object {
      height: 200px;
    }

    img:hover {
      opacity: 0.8;
    }
  }

  p.manchete {
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.1;
  }

  p.conteudo {
    margin-top: 0;
    margin-bottom: 0;
  }

	.conteudo { 
    display: block;
  }

	.manchete {
    margin: 0;
  }

	.thumbnail {
    margin-bottom: 0;
  }

	.foto, .video, .conteudo, .extra {
    margin: 20px 0; .make-sm-column(12);
  }

}

.destaque.medio {
	&.vertical { .make-md-column(4); }
	&.horizontal { .make-md-column(6); }
}

