body footer {
  height: 100%;
  width: 100%;
  background-color: @link-hover-color;
  box-shadow: inset 0 5px 5px -5px black;
  padding: 20px 0 20px;
  color: @gray-lighter;

  article {
    width: 80%;
    margin: auto;

    h1 {
      font-size: 1em; 
      border-bottom: dashed #e74c3c 1px;
      padding-bottom: 10px;
    }
  }

  article.amigos {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline;
        margin: 0 3px 0 3px;
      }
    }
  }

  article.parceiros {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;

      li {
        margin: 20px 0 20px 0;
        display: inline;

        img {
          border: solid white 2px;
          border-radius: 5px;
          margin: 5px;
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }

  @media(min-width: @screen-md) {
    text-align: center;

    article {
      display: inline-block;
      width: 25%;
      vertical-align: top;
      text-align: left;
      padding: 10px;
    }

    article.parceiros {
      display: block;
      width: 75%;
    }
  }

  a {
    color: @gray-lighter;
  }
  
  a:hover {
    color: @gray-light;
  }

  a.social {
    font-family: 'Glyphicons Social Regular';
    &:before {
      margin-right: 10px;
      vertical-align: middle;
    }

    /*&[href*='facebook.com'] {
      content: '\E031'; 
    }*/
  }

  a.social.facebook {
    &:before {
      content: '\E031'; 
    }  
  }

  a.social.twitter {
    &:before {
      content: '\E032'; 
    }  
  }

  a.social.rss {
    &:before {
      content: '\E038'; 
    }  
  }

  small {
    display: block;
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 0.7em;
    font-weight: lighter;
    text-align: center;
  }
}
