body footer {
  height: 100%;
  background-color: @link-hover-color;
  box-shadow: inset 0 5px 5px -5px black;
  padding: 20px 0 20px;
  color: @gray-lighter;

  a:hover {
    color: @gray-light;
  }
}
