@import "_includes/home/recent";
@import "_includes/home/featured-news";
@import "_includes/home/cover";
@import "_includes/home/carousel";
@import "_includes/home/tv-mst";
@import "_includes/home/interviews";
@import "_includes/home/debate";
@import "_includes/home/special-stories";

body > main.home {
  display: block;
}

body > aside.home {
  display: none;
}

@media(min-width: @screen-md) {
  body > main.home {
    vertical-align: top;
    padding: 0 15px;
    margin: 30px 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  body > aside.home {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    padding: 0 15px;
    margin: 30px 0;
  }
}

