.nav.nav-inline {
	li a {
		display: inline-block;
	}
	li .caret {
	 	margin-left: 0;
	  vertical-align: middle;
	  color: @link-color;
	  cursor: pointer;
	}
}

body > header > nav {
  padding-top: 10px;
}

body > header > nav > ul {
  display: inline-block;
  list-style: none;
  width: auto;
  float: left;
  padding-left: 0;

  li {
    display: inline;
  }

  li + li {
    margin-left: 20px; 
  }
}
