.post {
	max-width: @container-tablet;
	margin-bottom: @line-height-computed;
	.thumbnail {
		.thumbnail.sombra;
		margin-bottom: @line-height-computed;
		margin-top: @line-height-computed;
	}
	.portrait {
		min-height: 400px;
	}
	.landscape {
		min-height: 300px;
	}
}