main > footer {

  padding-top: 10px;

  ul {
    list-style: none;  
    padding: 0;
    border-top: 4px solid black;

    li {
      font-weight: bold;
      border-bottom: 1px solid #ddd;
      padding: 2px 0;
      font-size: 0.9em;

      a {
        color: @mstred;
      }
    }

    li:first-child {
      font-weight: normal;
      font-size: 1.1em;
    }
  }
}


