@import "bower_components/bootstrap/less/variables.less";
@import "mstvariables.less";
@import "bower_components/bootstrap/less/mixins.less";
@import "bower_components/bootstrap/less/normalize.less";
@import "bower_components/bootstrap/less/print.less";
@import "bower_components/bootstrap/less/scaffolding.less";
@import "bower_components/bootstrap/less/type.less";
@import "bower_components/bootstrap/less/glyphicons.less";
@import "bower_components/bootstrap/less/carousel.less";
@import "bower_components/bootstrap/less/utilities.less";

@import "post";
@import "_includes/header";
@import "_includes/footer";
@import "_includes/destaque";
@import "_includes/read-more";
@import "_includes/related-posts";
@import "_includes/carousel";

@font-face {
  font-family: 'Glyphicons Social Regular';
  src: url('../fonts/glyphicons-social-regular.eot');
  src: url('../fonts/glyphicons-social-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/glyphicons-social-regular.woff') format('woff'),
       url('../fonts/glyphicons-social-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Glyphicons Halflings Regular';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
       url('../fonts/glyphicons-halflings-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body > main {
  padding: 30px 15px;
}

main.tema {
  header, section {
    margin: 0;
    text-align: justify;

    h1, h2 {
      margin: 0;  
      margin-bottom: 10px;
    }
    
    h1 {
      width: 100%;
      text-align: center;
      letter-spacing: -2px;
      font-weight: bold;
    }

    h2 {
      margin-bottom: 0.5em;
      border-bottom: dashed 1px lightgray;
      padding-bottom: 0.3em;
    }
    
    figure {
      border-radius: 3px;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.125);
      overflow: hidden;
    }
  }

  header {
    overflow: auto;
    margin-bottom: 30px;

    figure {
      margin: 0 auto 10px auto;
      max-width: 350px;

      img {
        width: 100%;  
      }
    }

    p {
      max-width: 100%;
      text-align: justify;
      margin: 0;
    }

    details {
      &[open], &.open {
        summary {
          display: none;
        }
      }

      summary {
        cursor: pointer;
        color: @mstgreen;
        font-weight: bold;
        float: right;
        
        &:focus {
          outline: none;
        }
        
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  section {
    margin-bottom: 10px;

    ul {
      list-style: none;
      padding: 0;

      li + li {
        margin-top: 20px;
      }
    }

    p {
      text-align: left;
    }

    p.mais {
      margin: 0;
      padding-top: 1.2em;
      display: block;
      text-align: right;
      font-weight: bold;
      clear: both;
      
      a {
        color: @mstgreen;
      }
      
      a:hover {
        opacity: 0.8;
      }
    }
  }
}

@media(min-width: @screen-md) { 
  body > main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  main.tema {
    header {
      figure {
        float: left;
        margin-right: 20px;
      }

      h1 {
        text-align: left;
       }
    }

    section {
      ul {
        margin: 0;

        li {
          width: 32.6%;
          display: block;
          float: left;
          vertical-align: top;
          margin-right: 1%;

          & + li {
            margin-top: 0;
          }
        }

        li:last-child {
          margin-right: 0;
        }
      }
    }

    section.videos {
      ul {
        li {
          width: 32%; 

          & + li {
            margin-left: 1%;
          }
        }
      }  
    }
  }
}

