@import "bower_components/bootstrap/less/variables.less";
@import "mstvariables.less";
@import "bower_components/bootstrap/less/mixins.less";
@import "bower_components/bootstrap/less/normalize.less";
@import "bower_components/bootstrap/less/print.less";
@import "bower_components/bootstrap/less/scaffolding.less";
@import "bower_components/bootstrap/less/type.less";
@import "bower_components/bootstrap/less/glyphicons.less";
@import "bower_components/bootstrap/less/carousel.less";
@import "bower_components/bootstrap/less/utilities.less";

// general
@import "_includes/header";
@import "_includes/footer";

// home
//@import "_layouts/default"
@import "_includes/carousel";
@import "_includes/featured-news";

// topic
@import "_layouts/topic";
@import "_includes/destaque";
@import "_includes/read-more";

// post
@import "_layouts/post"
@import "_includes/related-posts";

@font-face {
  font-family: 'Glyphicons Social Regular';
  src: url('../fonts/glyphicons-social-regular.eot');
  src: url('../fonts/glyphicons-social-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/glyphicons-social-regular.woff') format('woff'),
       url('../fonts/glyphicons-social-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Glyphicons Halflings Regular';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
       url('../fonts/glyphicons-halflings-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body > main {
  padding: 30px 15px;
}

@media(min-width: @screen-md) { 
  body > main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

