{% capture picture %}{{ include.details.images | first }}{% endcapture %}
<article class="{{ include.class }}">
  <figure class="foto">
    <a href="{{ include.details.legacy_url}}">
    {% if picture != "" %}
      <img src="{{ picture | uri_escape}}">
    {% else %}
      <img alt="Imagem da Agronegocio" src="{{ include.default_image }}" />
    {% endif %}
    </a>
  </figure>
  <p class="conteudo manchete">
    <a href="{{ include.details.legacy_url }}">{{ include.details.title }}</a>
  </p>
</article>
