{% capture picture %}{{ include.details.images | first }}{% endcapture %}

<article class="{{ include.class }}">
	{% unless include.semfoto %}
	{% if picture != "" %}
  <aside class="foto">
    <figure class="thumbnail sombra">
      {{ picture }}
      <a href="{{ site.baseurl }}{{ include.details.url}}">
        <img src="//mst.org.br/{{ picture | uri_escape}}">
      </a>
    </figure>
  </aside>
  {% endif %}
  {% endunless %}

  <main class="conteudo">
    <h4 class="manchete">
      <a href="{{ site.baseurl }}{{ include.details.url }}">{{ include.details.title }}</a>
    </h4>
    <p class="muted">{{include.details.date | date_to_string }}</p>
  </main>
</article>