<footer>
  <article>
    <h1>Social</h1>
    <ul>
      <li>
        <a href="http://www.facebook.com/MovimentoSemTerra">Facebook</a>
      </li>
      <li>
        <a href="http://twitter.com/#!/MST_Oficial">Twitter</a>
      </li>
      <li>
        <a href="http://www.mst.org.br/rss.xml">RSS</a>
      </li>
    </ul>
  </article>

  <article>
    <h1>Links</h1>
    <ul>
      <li>
        <a href="http://www.mst.org.br/produtos">Loja da Reforma Agrária</a></li>
      <li>
        <a href="http://www.mst.org.br/parceiros">Indicamos</a></li>
      <li>
        <a href="http://www.mst.org.br/fale_conosco">Fale Conosco</a></li>
      <li>
        <a href="http://www.mst.org.br/assinaturas/jornal">Assine o Jornal Sem Terra</a></li>
      <li>
        <a href="http://www.mst.org.br/expediente">Expediente</a>
      </li>
    </ul>
  </article>

  <article>
    <h1>Amigos do MST</h1>
    <ul class="amigos">
      <li>
        <a href="http://www.mstbrazil.org/">
          <img src="http://www.mst.org.br/sites/default/files/imagecache/bandeira/inglaterra.gif" />
        </a>
      </li>
      <li>
        <a href="http://www.sindominio.net/mstmadrid/">
          <img src="http://www.mst.org.br/sites/default/files/imagecache/bandeira/espanha.gif" />
        </a>
      </li>
      <li>
        <a href="http://amisdessansterre.blogspot.com.br/">
          <img src="http://www.mst.org.br/sites/default/files/imagecache/bandeira/franca.gif" />
        </a>
      </li>
      <li>
        <a href="http://www.comitatomst.it/">
          <img src="http://www.mst.org.br/sites/default/files/imagecache/bandeira/italia.gif" />
        </a>
      </li>
      <li>
        <a href="http://mstsverige.blogspot.com.br/">
          <img src="http://www.mst.org.br/sites/default/files/imagecache/bandeira/suecia.gif" />
        </a>
      </li>
      <li>
        <a href="http://mstbrasilien.de/">
          <img src="http://www.mst.org.br/sites/default/files/imagecache/bandeira/alemanha.gif" />
        </a>
      </li>
      <li>
        <a href="http://www.mstnederland.nl/">
          <img src="http://www.mst.org.br/sites/default/files/imagecache/bandeira/holanda.gif" />
        </a>
      </li>
      <li>
        <a href="http://www.infoterra.ch/">
          <img src="http://www.mst.org.br/sites/default/files/imagecache/bandeira/suica.gif" />
        </a>
      </li>
      <li>
        <a href="http://maattomienliike.wordpress.com/">
          <img src="http://www.mst.org.br/sites/default/files/imagecache/bandeira/finlandia.copy_.jpg" />
        </a>
      </li>
    </ul>
  </article>

  <article>
    <h1>Parceiros</h1>
    <ul class="parceiros">
      <li>
        <a href="http://cooperativalaudelina.net/">
          <img src="http://www.mst.org.br/sites/default/files/imagecache/bandeira/laudelina%20copy_0.jpg" />
        </a>
      </li>
      <li>
        <a href="http://www.brasildefato.com.br/v01/agencia">
          <img src="http://www.mst.org.br/sites/default/files/imagecache/bandeira/bf_0.jpg" />
        </a>
      </li>
      <li>
        <a href="http://viacampesina.org/sp/">
          <img src="http://www.mst.org.br/sites/default/files/imagecache/bandeira/via%20campesina%20verde%20pequeno.jpg" />
        </a>
      </li>
      <li>
        <a href="http://www.radioagencianp.com.br/">
          <img src="http://www.mst.org.br/sites/default/files/imagecache/bandeira/ranp.jpg" />
        </a>
      </li>
      <li>
        <a href="http://movimientos.org/">
          <img src="http://www.mst.org.br/sites/default/files/imagecache/bandeira/mingacopy.jpg" />
        </a>
      </li>
      <li>
        <a href="http://www.cloc-viacampesina.net/">
          <img src="http://www.mst.org.br/sites/default/files/imagecache/bandeira/clocgrande.jpg" />
        </a>
      </li>
      <li>
        <a href="http://amigosenff.org.br/site/">
          <img src="http://www.radioagencianp.com.br//sites/ranp/imagens/AENFF.jpg" />
        </a>
      </li>
    </ul>
  </article>
</footer>
