{% assign default_image = site | extract_image_from_post_tag: include.post %}
<article class="headline">
  {% if include.post.images != '' %}

    <a href="{{ include.post.url }}">
      {% if include.image_tag %} 
         <figure>
           <img src="{{ include.post.images | uri_escape }}" alt="Imagem para a noticia: {{ include.post.title }}"/>
         </figure> 
      {% else %}
         <figure style="background-image:url('{{ include.post.images | uri_escape }}');" />
      {% endif %}
    </a>

    {% else %}
      {% if include.post.type == 'video' %}

        <a href="{{ include.post.url }}">
          <figure
            style="background-image:url('http://i1.ytimg.com/vi/{{ include.post.video }}/hqdefault.jpg');" />
          </figure>
        </a>

      {% else %}
        {% if default_image != '' %}

          <a href="{{ include.post.url }}">
            <figure
              style="background-image:url('{{ default_image }}');" />
            </figure>
          </a>

        {% else %}
          {% assign include.support_line = true %}
        {% endif %}
      {% endif %}
    {% endif %}
  <h1>
    <a href="{{ include.post.url }}">{{ include.post.title }}</a>
  </h1>
  {% if include.support_line %}
    <p class="support-line">{{ include.post.support_line}}</p>
  {% endif %}
</article>

