{% assign default_image = site | extract_image_from_post_tag: include.post %}
<article class="headline">
  {% if include.post.images != '' %}

    <figure>
      <a href="{{ include.post.url }}">
        <img src="{{ include.post.images | uri_escape }}" />
      </a>
    </figure>

    {% else %}
      {% if include.post.type == 'video' %}

        <figure>
          <a href="{{ include.post.url }}">
            <img src="http://i1.ytimg.com/vi/{{ include.post.video }}/hqdefault.jpg" />
          </a>
        </figure>

      {% else %}
        {% if default_image != '' %}

          <figure>
            <a href="{{ include.post.url }}">
              <img src="{{ default_image }}" />
            </a>
          </figure>

        {% else %}
          {% assign include.support_line = true %}
        {% endif %}
      {% endif %}
    {% endif %}
  <h1>
    <a href="{{ include.post.url }}">{{ include.post.title }}</a>
  </h1>
  {% if include.support_line %}
    <p class="support-line">{{ include.post.support_line}}</p>
  {% endif %}
</article>

