<article class="headline">
  <figure>
    <a href="{{ include.post.url }}">
      {% if include.post.images != "" %}
        <img src="{{ include.post.images | uri_escape }}" />
      {% else %}
        {% if include.post.type == 'video' %}
          <img src="http://i1.ytimg.com/vi/{{ include.post.video }}/hqdefault.jpg" />
        {% else %}
          <img src="{{ include.default_image }}" />
        {% endif %}
      {% endif %}
    </a>
  </figure>
  <p>
    <a href="{{ include.post.url }}">{{ include.post.title }}</a>
  </p>
  {% if include.support_line %}
    <p class="support-line">
      <a href="{{ include.post.url }}">{{ include.post.support_line}}</a>
    </p>
  {% endif %}
</article>
