<header>
  <a href=http://www.mst.org.br/inicial>
    <img alt="Logotipo" src="{{ site.baseurl }}assets/img/logo.png" />
    <h1>MST</h1>
  </a>
</header><!--
--><nav>
  <ul>
    <li class="dropdown">
      <a href=http://www.mst.org.br/inicial>Inicio</a>
    </li>

    <li class="dropdown">
      <a href=http://www.mst.org.br/inicial>O MST</a>

        <ul class="dropdown-menu">
          <li class="dropdown">
            <a href=http://www.mst.org.br/taxonomy/term/324>Quem Somos</a>
          </li>

          <li class="dropdown">
            <a href=http://www.mst.org.br/taxonomy/term/329>Nossas bandeiras</a>
          </li>

          <li class="dropdown">
             <a href=http://www.mst.org.br/taxonomy/term/330>Organização</a>
          </li>
  
          <li class="dropdown">
            <a href=http://www.mst.org.br/taxonomy/term/328>Linhas políticas</a>
          </li>

          <li class="dropdown">
            <a href=http://www.mst.org.br/taxonomy/term/333>Notas oficiais</a>
          </li>
   
          <li class="dropdown">
            <a href=http://www.mst.org.br/taxonomy/term/332>Lutadores do povo</a>
          </li>
  
          <li class="dropdown">
            <a href=http://www.mst.org.br/taxonomy/term/331>Poemas e Poesias</a>

          <li class="dropdown">
            <a href=http://www.mst.org.br/letraviva>Letra Viva</a>
          </li>
  
          <li class="dropdown">
            <a href=http://www.mst.org.br/letraviva>Jornal Sem Terra</a>
          </li>
  
          <li class="dropdown">
            <a href=http://www.mst.org.br/revista_sem_terra>Revista Sem Terra</a>
          </li>
        </ul>
      </li>
  
    <li class="dropdown">
      <a href=http://www.mst.org.br/taxonomy/term/327%20334%20336%20339%20326%20337%20338%20341%20335%20340>Biblioteca</a>

        <ul class="dropdown-menu">
    
          <li class="dropdown">
            <a href="/agricultura-camponesa">Agricultura camponesa</a>
          </li>
    
          <li class="dropdown">
            <a href="/agronegocio">Agronegócio</a>
          </li>
    
          <li class="dropdown">
            <a href="/direitos-humanos">Direitos Humanos</a>
          </li>
    
          <li class="dropdown">
            <a href="/educacao-cultura-e-comunicacao">Educação, Cultura e Comunicação</a>
          </li>
    
          <li class="dropdown">
            <a href="/lutas-e-mobilizacoes">Lutas e mobilizações</a>
          </li>
    
          <li class="dropdown">
            <a href="/solidariedade-internacional">Internacional</a>
          </li>
    
          <li class="dropdown">
            <a href=http://mst.org.br/taxonomy/term/337>Meio Ambiente</a>
          </li>
    
          <li class="dropdown">
            <a href="/projeto-popular">Projeto Popular</a>
          </li>
    
          <li class="dropdown">
            <a href="/reforma-agraria">Reforma Agrária</a>
          </li>
    
          <li class="dropdown">
            <a href="/transgenicos">Transgênicos</a>
          </li>
        </ul>
      </li>
  
    <li class="dropdown">
      <a href=http://www.mst.org.br/multimidia>Vídeos</a>
    </li>

    <li class="dropdown">
      <a href=http://www.mst.org.br/especiais>Especiais</a>
    </li>

    <li class="dropdown">
      <a href=http://www.mst.org.br/mural>Mural</a>
    </li>

    <li class="dropdown">
      <a href=http://www.mst.org.br/taxonomy/term/704>Eu apoio o MST</a>
    </li>

    <li class="dropdown">
      <a href=http://www.mst.org.br/semterrinha>SemTerrinha</a>
    </li>
    
  </ul>
  <form action="http://www.mst.org.br/" accept-charset="UTF-8" method="post" name="search">
    <label for="search">Busca:</label>
    <input type="search" id="search" placeholder="Pesquisar..." name="search_block_form" />
    <input type="hidden" name="form_build_id" id="form-b980ebaf3bdfc7338bcf0b37d75b5aab" value="form-b980ebaf3bdfc7338bcf0b37d75b5aab" />
    <input type="hidden" name="form_id" id="edit-search-block-form" value="search_block_form" />
  </form>
</nav>

