<header id="site-header">
  <a href="/" id="logo">
    <img alt="Logotipo" src="{{ site.baseurl }}assets/img/logo.png" />
    <h1>MST</h1>
  </a>
  
  <nav role="navigation">
    <button id="open-menu">Abrir Menu</button>
    
    <ul id="main-menu">
      <li class="dropdown">
        <a href="#">O MST</a>
        <ul class="dropdown-menu">
          <li><a href="http://www.mst.org.br/taxonomy/term/324">Quem Somos</a></li>
          <li><a href="http://www.mst.org.br/taxonomy/term/329">Nossas bandeiras</a></li>
          <li> <a href="http://www.mst.org.br/taxonomy/term/330">Organização</a></li>
          <li><a href="http://www.mst.org.br/taxonomy/term/328">Linhas políticas</a></li>
          <li><a href="http://www.mst.org.br/taxonomy/term/333">Notas oficiais</a></li>
          <li><a href="http://www.mst.org.br/taxonomy/term/332">Lutadores do povo</a></li>
          <li><a href="http://www.mst.org.br/taxonomy/term/331">Poemas e Poesias</a>
          <li><a href="http://www.mst.org.br/letraviva">Letra Viva</a></li>
          <li><a href="http://www.mst.org.br/letraviva">Jornal Sem Terra</a></li>
          <li><a href="http://www.mst.org.br/revista_sem_terra">Revista Sem Terra</a></li>
        </ul>
      </li>
  
      <li><a href="/lutas-e-conquistas">Lutas e Conquistas</a></li>
      <li><a href="http://www.mst.org.br/taxonomy/term/325">NossaProdução</a></li>
      <li><a href="http://www.reformaagrariaemdados.org.br/biblioteca">Biblioteca</a></li>
  
      <li class="dropdown">
        <a href="#">Editorias</a>
        <ul class="dropdown-menu">
          <li><a href="/agricultura-camponesa">Agricultura camponesa</a></li>
          <li><a href="/agronegocio">Agronegócio</a></li>
          <li><a href="/direitos-humanos">Direitos Humanos</a></li>
          <li><a href="/educacao-cultura-e-comunicacao">Educação, Cultura e Comunicação</a></li>
          <li><a href="/lutas-e-mobilizacoes">Lutas e mobilizações</a></li>
          <li><a href="/solidariedade-internacional">Solidariedade Internacional</a></li>
          <li><a href="http://mst.org.br/taxonomy/term/337">Meio Ambiente</a></li>
          <li><a href="/projeto-popular">Projeto Popular</a></li>
          <li><a href="/reforma-agraria">Reforma Agrária</a></li>
          <li><a href="/transgenicos">Transgênicos</a></li>
        </ul>
      </li>
  
      <li><a href="http://www.mst.org.br/especiais">Jornadas</a></li>
      <li><a href="http://www.mst.org.br/semterrinha">SemTerrinha</a></li>
    </ul>
    
    <button id="open-search">Abrir Busca</button>

    <form action="http://www.mst.org.br/" accept-charset="UTF-8" id="search-form" method="post" name="search">
      <label for="search">Busca:</label>
      <input type="search" id="search" placeholder="Pesquisar..." name="search_block_form" />
      <input type="hidden" name="form_build_id" id="form-b980ebaf3bdfc7338bcf0b37d75b5aab" value="form-b980ebaf3bdfc7338bcf0b37d75b5aab" />
      <input type="hidden" name="form_id" id="edit-search-block-form" value="search_block_form" />

      <button type="submit" name="submit">Buscar</button>
    </form>
  </nav>
</header>
