<aside>
  <ul>
    <li>
      Relacionadas
    </li>
    <li>
      <a href="#">
        <span>Levante Popular da Juventude reúne 3 mil jovens em São Paulo</span>
        <span>04 de fevereiro</span>
      </a>
    </li>

    <li>
      <a href="#">
        <span>Melgarejo: CTNBio ignora impactos da aprovação de transgênicos</span>
        <span>10 de dezembro de 2013</span>
      </a>
    </li>


    <li>
      <a href="#">
        <span>Tendler: agroecologia é fundamental na produção econômica e social</span>
        <span>10 de maio de 2012</span>
      </a>
    </li>
  </ul>
</aside>
