@import "_includes/home/recent";
@import "_includes/home/featured-news";
@import "_includes/home/cover";
@import "_includes/home/carousel";
@import "_includes/home/tv-mst";
@import "_includes/home/interviews";
@import "_includes/home/debate";
@import "_includes/home/special-stories";

body > main.home {
  display: block;
}

body > aside {
	display:none;
}

@media(min-width: $screen-md) {
  body > main.home {
    display: inline-block;
    vertical-align: top;
    width: 85%;
    padding: 0 15px;
    border-right: 1px solid $gray-light;
  }

  body > aside {
    width: 14%;
    display: inline-block;
    padding: 0 0 0 8px;
  }

  body > main.home, body > aside.home {
    margin: 30px 0;
  }
}

@media(max-width: $screen-sm) {
  body > main.home {
    width: 100%;
    section {
      padding: 15px;
    }
  }
}

