body > main.home > section.cover {
  border-top: 1px solid;

  & > article.headline {
    & > h1 {
      font-size: 1.8em;
      margin-bottom: 10px;
    }

    & > p {
      font-size: 1em;
    }
  }

  @media (min-width: $screen-md) {
	  padding: 0;
    padding-left: 470px;
    border: none;
  }
}
