body > main.home > section.debate {
  width: 100%;
  border-top: 1px solid;

  figure {
    max-width: 100%;
  }

  @media(min-width: $screen-sm) { 
    border: none;
    clear: both;
	padding-left: 0;
	padding-right: 0;
  }
}
