body > main.home > section.debate {
  border-top: 1px solid;
  width: 60%;

  & > ul {
    padding-left: 20px;
    list-style-type: square;
  }

  figure {
    max-width: 100%;
  }

  @media(min-width: $screen-sm) { 
    border: none;
    clear: both;
	padding-left: 0;
	padding-right: 0;
  }
}
