body > main.home > section.featured-news {
  clear: both;
  border-top: 1px solid;

  ul {

    li {
      float: left;
      font-weight: bold;
      font-size: 0.9em;
      padding: 2px 0;
      padding-right: 10px;

      h1 {
        font-size: 1.1em;
        margin-bottom: 0;
      }
      
	    p {
	     font-weight: normal;
	     line-height: 1.5em;
	    }

      img {
        display: block;
      }
    }
  }

  @media (min-width: $screen-sm) {
    border: 0;
	  width: 100%;
	  padding-left: 0;
	  padding-right: 0;
	
    figure {
      float: none;
      height: 190px;
      max-width: 370px;
      margin: 0;
    }

    & > h2.hat {
      padding-bottom: 5px;
    }

    ul {
      li {
        width: 33%;
        padding-right: 2%;

        & + li {
          padding-left: 2%;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

}
