body > main.home > section.recent {
  border-top: 1px solid #dddddd;

  article.headline {
    & > h1 {
      font-size: 1.3em;
      margin-bottom: 10px;
    }

    & > p {
      font-size: 1em;
    }
  }

  ul {
    padding-left: 20px;
    list-style-type: square;

    li {
      line-height: 12pt;
      margin-bottom: 5px;

      article.headline > h1 {
        font-size: 1em;
      }
    }
  }

  @media (min-width: $screen-sm) {
    width: 100%;
	  padding: 0;
    clear: both;
  }
}
