section.special-stories {
  h1 {
    font-size: 18px;
  }

  & > ul > li {
    margin-bottom: 20px;
    padding: 0 0 20px 0;
    text-align: center;
  }
  
  figure {
  	margin: 0 auto 0.55em;
  }
}

@media(max-width: $screen-md) {
	section.special-stories {
		display:none;
	}
}
