body > main.home > section.tv-mst {
  display: block;
  width: 100%;
  padding-bottom: 10px;
  clear: both;
  border-top: 1px solid;

  @media(min-width: $screen-sm) { 
    border: none;
    float: left;
    display: inline-block;
    width: 60%;
	  padding-left: 0;

    & > article.headline > h1 {
      font-size: 1.5em;
      max-width: 100%;
    }

    & > article.headline > figure {
      height: auto;
      max-height: 300px;  
      max-width: 100%;
      
      iframe {
        height: 300px;
      }
    }
  }
}
