main.all-news {
  & > ul > li {
    clear: both;
    height: 190px;

    & > article.headline { 
      figure {
        float:left;
        width: 370px;
        margin-right: 15px;
      }
    }

    & + li {
      margin-top: 30px;
    }
  }

  & > footer.pagination {
    margin: 0;
    padding: 0;
    padding-top: 30px;
    clear: both;
  }
}
