body > main.home > section.cover {
  border-top: 1px solid;

  p {
    font-size: 14px;
  }

  @media (min-width: @screen-sm) {
    border-bottom: 1px solid @gray-light;
    border-top: 0;
    float: left;
    width: 40%;
	padding-right: 0;
  }

  @media(min-width: @screen-md) {
    width: 40%;
  }
}
