.cover {
  border-top: 1px solid;
  margin-bottom: 20px;

  p {
    font-size: 14px;
  }

  @media (min-width: @screen-sm) {
    border-bottom: 1px solid @gray-light;
    border-top: 0;
    margin-bottom: 0px;
    float: left;
    width: 40%;
  }

  @media(min-width: @screen-md) {
    width: 40%;
  }
}
