section.featured-news {
  padding-top: 30px;
  clear: both;
  border-top: 1px solid;

  figure{
    max-width: 140px;
    height: 120px;
    float: left;
    margin-right: 10px;
  }

  ul {

    li {
      float: left;
      font-weight: bold;
      font-size: 0.9em;
      padding: 2px 0;
      padding-right: 10px;

      h1 {
       font-size: 1.1em;
	   margin-bottom: 0;
      }
      
	  p {
	   font-weight: normal;
	   line-height: 1.5em;
	  }

      img {
        display: block;
      }
    }
  }

  @media (min-width: @screen-sm) {
    border: 0;

    header {
      display: none;
    }

    figure {
        max-width: 250px;
        height: 200px;
        float: none;
        margin-right: 0;
    }

    ul {
      li {
        width: 33%;

        & + li {
          padding-left: 10px;
          border-left: @border;
        }
      }
    }
  }

}
