@import "../crop-image";

.interviews {

  display: inline-block;
  vertical-align: top;
  width: 38%;

  .crop_image();
  border-top: 1px solid;

  figure {
    height: 100px;
  }
  
  ul {
    list-style: none;
    padding-left: 0px;
  }

  @media (min-width: @screen-sm) {
    border-top: 0;
  }
}

