@import "../crop-image";

.interviews {
  .crop_image();
  
  figure {
    height: 100px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }
  
  h3 {
    font-size: 12px;
    margin-bottom: 1px;
    margin-top: 7px;
    line-height: 12px;
  }
  
  ul {
    list-style: none;
    padding-left: 0px;
  }
}

