@import "../crop-image";

section.interviews {
  padding-top: 30px;
  display: inline-block;
  vertical-align: top;
  width: 38%;

  .crop_image();
  border-top: 1px solid;

  figure {
    height: 100px;
  }

  @media (min-width: @screen-sm) {
    border-top: 0;
  }
}

