.recent {
  border-top: 1px solid #dddddd;

  p {
    font-size: 12px;
  }

  ul {
    padding-left: 20px;
    list-style-type: square;
    font-size: 14px;
    li {
      line-height: 12pt;
      margin-bottom: 5px;
    }
  }

  @media (min-width: @screen-sm) {
    border-top: 0;
    float: left;
    width: 40%;
  }

  @media(min-width: @screen-md) {
    width: 40%;
  }
}
