.tv-mst {

  clear: both;
  display: inline-block;
  width: 60%;

  ul {
    list-style: none;  
    padding: 0;
    width: 100%;

    li {
      float: left;
      font-weight: bold;
      font-size: 0.9em;
      padding: 2px 0;
      padding-right: 10px;

      & > p {
        font-weight: normal;
        line-height: 1.5em;
      }
    }
  }
}