@import "crop-image";

article.headline {
  padding: 0 !important;

  @include crop_image;

  figure {
    background-size: cover;
  }

  h1 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.1;
    margin: 0;
    margin-top: 5px;
    text-align: left;

    a {
      display: block;
    }
  }

  p.support-line {
    font-size: 14px;
    font-weight: normal;

    a {
      color: $gray-dark;
    }
  }
}

