<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }} - {{ site.name }}</title>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/site.css" />
		<link rel="shortcut icon" href="{{ site.baseurl }}assets/img/logo.png" type="image/png" />
		<!--[if lt IE 9]>
		<script type= "text/javascript" src="{{ site.baseurl }}assets/js/html5shiv.js"></script>
		<script type= "text/javascript" src="{{ site.baseurl }}assets/js/respond.min.js"></script>
		<![endif]-->
		<script type= "text/javascript" src="{{ site.baseurl }}assets/js/jquery-1.11.0.min.js"></script>
		<script type= "text/javascript" src="{{ site.baseurl }}assets/js/jquery.details-1.7.min.js"></script>
	</head>
	<body>
		{{ content }}
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-49336600-2', 'mst.org.br');
			ga('require', 'linkid', 'linkid.js');
      		ga('require', 'displayfeatures');
			ga('send', 'pageview');

			var tracked_links = [['.parceiros ul li a', 'parceiros'], ['.social ul li a', 'social'], 
			['.amigos ul li a', 'amigos'], ['.links ul li a', 'links'], 
			['.noticias .mais a', 'mais-noticias'], ['.videos .mais a', 'mais-videos'],
			['nav ul li a', 'header-links']];

			for (i=0; i<tracked_links.length; i++) {
				trackableItems = tracked_links[i];
				var selector = null;
				var category = null;
				selector = trackableItems[0];
				category = trackableItems[1];
				$(selector).each( function(index) {
					$(this).on('click', function() {
						ga('send', {
							'hitType': 'event',          
							'eventCategory': category,
							'eventAction': 'click',   
							'eventLabel': $(this).attr('href')
						});
					})
				});
			}
			
			$(".details-inited summary").on('click', function() {
				ga('send', {
					'hitType': 'event',          
					'eventCategory': 'leia-mais',
					'eventAction': 'click',   
					'eventLabel': $('.tema h1').text()
				});
			});
			
			$("header > a").on('click', function() {
				ga('send', {
					'hitType': 'event',          
					'eventCategory': 'header-links',
					'eventAction': 'click',   
					'eventLabel': 'Logotipo'
				});
			});


			
			$('.dropdown').children('a').on('click', function(event) {
				var myTarget = $(this).siblings('.dropdown-menu');

				$('.dropdown-menu.active').each(function () {
					if (this != myTarget[0]) {
						$(this).removeClass('active');
					}
				});

				$('#search-form').removeClass('open');
				$('#open-search').removeClass('active');

				myTarget.toggleClass('active');

				event.preventDefault();
			});

			$('#open-menu').on('click', function () {
				$(this).siblings('ul').toggleClass('open');        
			});

			$('#open-search').on('click', function () {
				var myTarget = $(this).siblings('form');
				myTarget.toggleClass('open');

				$('.dropdown-menu').removeClass('active');
				if (myTarget.hasClass('open')) {
					$(this).addClass('active');
				} else {
					$(this).removeClass('active');
				}
			});
			
		</script>
	</body>
</html>
