---
layout : default
---

{% assign title      = page.title %}
{% assign tema       = page.tema %}
{% assign noticias   = site.tags['Agronegócio'] %}
{% assign videos     = site.tags.video %}

<!-- move to the default layout in the future -->
{% include header.html %}

<article class="container tema">
  <header>
    <figure>
      <img alt="Imagem da Wikipedia" src="http://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Arroz_097.jpg/375px-Arroz_097.jpg" />
    </figure>
    <h1>{{ title }}</h1>
    <p>
O termo agronegócio, de uso relativamente recente em nosso país, guarda correspondência com a noção de agribusiness, cunhada pelos professores norte-americanos John Davis e Ray Goldberg nos anos 1950, no âmbito da área de administração e marketing (Davis e Goldberg, 1957). O termo foi criado para expressar as relações econômicas (mercantis, financeiras e tecnológicas) entre o setor agropecuário e aqueles situados na esfera industrial (tanto de produtos destinados à agricultura quanto de processamento daqueles com origem no setor), comercial e de serviços. Para os introdutores do termo, tratava-se de criar uma proposta de análise sistêmica que superasse os limites da abordagem setorial então predominante. [Fonte: <a href="https://www.expressaopopular.com.br/livros/expressao-popular/dicionario-da-educacao-do-campo">Dicionário da Educação do Campo</a>]
    </p>
  </header>

  <section class="noticias colunas">
    <h2>Notícias</h2>
    {% for noticia in noticias | limit:3 %}
      {% include destaque.html class="destaque medio vertical" details=noticia %}
    {% endfor %}
  </section>

  <section class="videos colunas">
    <h2>Vídeos</h2>
    {% for video in videos | limit:3 %}
      {% include video.html class="destaque medio vertical" details=video %}
    {% endfor %}
  </section>
</article>
