---
layout : default
---

{% assign title = page.title %}
{% assign tema = page.tema %}
{% assign image = page.image %}
{% assign all_news_url = page.all_news_url %}
{% assign summary = page.summary %}
{% assign description = page.description %}
{% assign theme = 'menu:'| append: tema %}
{% assign content = site.tags[theme] %}
{% assign noticias = content | where: 'type', 'news' %}
{% assign videos = content | where: 'type', 'video' %}

{% include header.html %}

<main class="tema">
  <header>
    <figure>
      <img alt="imagem de {{ tema }}" src="{{ image }}" />
    </figure>
    <h1>{{ title }}</h1>
    <p>
      {{ summary }}
    </p>

    {% if description %}
       <details>
         <summary>Leia mais...</summary>
         <p>
           {{ description }}
           <span>[Fonte: <a href="https://www.expressaopopular.com.br/livros/expressao-popular/dicionario-da-educacao-do-campo">Dicionário da Educação do Campo</a>]</span>
         </p>
       </details>
     {% endif %}
    
  </header>

  {% if noticias.size > 0 %}
    <section class="noticias">
      <h2>Notícias</h2>
      <ul>
        {% for noticia in noticias | limit:3 %}
          <li>
            {% include destaque.html details=noticia default_image=image %}
          </li>
        {% endfor %}
      </ul>
      <p class="mais">
        <a href="{{ all_news_url }}">Mais notícias...</a>
      </p>
    </section>
  {% endif %}

  {% if videos.size > 0 %}
    <section class="videos">
      <h2>Vídeos</h2>
      <ul>
        {% for video in videos | limit:3 %}
          <li>
            {% include video.html details=video %}
          </li>
        {% endfor %}
      </ul>
      <p class="mais">
        <a href="http://www.mst.org.br/videos">Mais vídeos...</a>
      </p>
    </section>
  {% endif %}
</main>

{% include footer.html %}

