---
layout: default
---

{% assign tag = page.tema %}
{% assign tag_filter = 'menu:'| append: tag %}
{% assign posts = site.tags[tag_filter] %}
{% assign noticias = posts | where: 'type', 'news' %}
{% assign videos = posts | where: 'type', 'video' %}

<main class="topic">
  <header>
    <figure>
      <img alt="imagem de {{ tag }}" src="{{ page.image }}" />
    </figure>
    <h1>{{ page.title }}</h1>
    <p>
      {{ page.summary }}
    </p>

    {% if page.description %}
       <details>
         <summary>Leia mais...</summary>
         <p>
           {{ page.description }}
           <span>[Fonte: <a href="https://www.expressaopopular.com.br/livros/expressao-popular/dicionario-da-educacao-do-campo">Dicionário da Educação do Campo</a>]</span>
         </p>
       </details>
     {% endif %}
    
  </header>

  {% if noticias.size > 0 %}
    <section class="noticias">
      <h2>Notícias</h2>
      <ul>
        {% for noticia in noticias | limit:3 %}
          <li>
            {% include headline-with-image.html post=noticia default_image=page.image %}
          </li>
        {% endfor %}
      </ul>
      <p class="mais">
        <a href="{{ page.all_news_url }}">Mais notícias...</a>
      </p>
    </section>
  {% endif %}

  {% if videos.size > 0 %}
    <section class="videos">
      <h2>Vídeos</h2>
      <ul>
        {% for video in videos | limit:3 %}
          <li>
            {% include headline-with-video.html post=video %}
          </li>
        {% endfor %}
      </ul>
      <p class="mais">
        <a href="http://www.mst.org.br/videos">Mais vídeos...</a>
      </p>
    </section>
  {% endif %}
</main>

