<section class='banners'>
  <ul>
    <li>
      <a href="http://www.reformaagrariaemdados.org.br/biblioteca">
        <img src="http://www.mst.org.br/sites/default/files/biblioteca_digital_paginaMST%20%281%29.JPG"/>
      </a>
    </li>
    <li>
      <a href="http://www.plebiscitoconstituinte.org.br/">
        <img src="http://www.mst.org.br/sites/default/files/plebiscito%21_0.jpg"/>
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/user/videosmst/videos">
        <img src="http://www.mst.org.br/sites/default/files/BANNER_VIDEOS_CONGRESSO_PAGINA%20%281%29.jpg"/>
      </a>
    </li>
    <li>
      <a href="http://www.baraodeitarare.org.br/index.php/2013-01-09-16-56-06">
        <img src="http://www.mst.org.br/sites/default/files/barao_0.jpg"/>
      </a>
    </li>
    <li>
      <a href="http://www.paraexpressaraliberdade.org.br/index.php/2013-04-30-15-58-11">
        <img src="http://www.mst.org.br/sites/default/files/campanha%20pela%20democom2.JPG"/>
      </a>
    </li>
  </ul>
</section>
