<section class='banners'>
  <ul>
    <li>
      <a href="http://www.reformaagrariaemdados.org.br/biblioteca">
        <img src="http://www.mst.org.br/sites/default/files/biblioteca_digital_paginaMST%20%281%29.JPG"
           alt='Biblioteca digital da reforma agrária brasileira' />
      </a>
    </li>
    <li>
      <a href="http://www.plebiscitoconstituinte.org.br/">
        <img src="http://www.mst.org.br/sites/default/files/plebiscito%21_0.jpg"
            alt='Peblicito constituinte' />
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/user/videosmst/videos">
        <img src="http://www.mst.org.br/sites/default/files/BANNER_VIDEOS_CONGRESSO_PAGINA%20%281%29.jpg"
             alt='Videos dos congressos'/>
      </a>
    </li>
    <li>
      <a href="http://www.baraodeitarare.org.br/index.php/2013-01-09-16-56-06">
        <img src="http://www.mst.org.br/sites/default/files/barao_0.jpg"
             alt='Campanha seja amigao do barão'/>
      </a>
    </li>
    <li>
      <a href="http://www.paraexpressaraliberdade.org.br/index.php/2013-04-30-15-58-11">
        <img src="http://www.mst.org.br/sites/default/files/campanha%20pela%20democom2.JPG"
             alt='Campanha pela democratização da comunicação' />
      </a>
    </li>
  </ul>
</section>
