{% assign content = site.posts %}
{% assign featured-news = content | where: 'section', 'feature-news' %}

<section class="featured-news">
  <ul>
    {% for news in featured-news | limit:3 %}
    {% capture picture %}{{ news.images }}{% endcapture %}
    <li>
      <figure>
        <a href=" {{ news.url }} ">
            {% if picture != "" %}
            <img src="{{ picture | uri_escape}}" />
            {% else %}
            <img src="{{ inclu.default_image }}" />
            {% endif %}
        </a>
      </figure>
      <strong>{{ news.title  }}</strong>
      <p>{{ news.content |  strip_html | truncate: 120  }}</p>
    </li>
    {% endfor %}
  </ul>
</section>
