{% assign content = site.posts %}
{% assign posts = content | where: 'section', 'featured-news' %}

<section class="featured-news">
  <ul>
    {% for post in posts | limit:3 %}
	    {% assign image_from_tag = site | extract_image_from_post_tag: post %}
	    <li>
  	     {% assign image_from_tag = site | extract_image_from_post_tag: post %}
         {% include headline-with-image.html post=post default_image=image_from_tag %}
		 <p>{{ post.support_line | truncate: 120  }}</p>
	    </li>
    {% endfor %}
  </ul>
</section>
