{% assign posts = site.posts | where: 'section', 'interviews' %}

<section class="interviews">
  <header>
    <h1>Entrevistas</h1>
  </header>
  <ul>
    {% for post in posts %} 
      {% if forloop.first %}
        <li>
  	     {% assign image_from_tag = site | extract_image_from_post_tag: post %}
         {% include headline-with-image.html post=post support_line=false default_image=image_from_tag %}
        </li>
        {% else %}
          {% include home/interviews/headline.html post=post %}
      {% endif %}
    {% endfor %}
  </ul>

</section>