{% assign posts = site.posts | where: 'section', 'interviews' %}

<section class="interviews">
  <header>
    <h3>Entrevistas</h3>
  </header>
  <ul>
    {% for post in posts %} 
      {% if forloop.first %}
        <li>
  	     {% assign image_from_tag = site | extract_image_from_post_tag: post %}
         {% include headline-with-image.html post=post default_image=image_from_tag %}
        </li>
        {% else %}
		<li>
         <a href="{{ post.url }}">
		   <h2>{{ post.title }}</h2>
	     </a>
		</li>
      {% endif %}
    {% endfor %}
  </ul>

</section>
