main > footer {
  overflow: auto;
  padding-top: 50px;

  h1 {
    font-weight: normal;
    font-size: 1.1em;
    margin: 0;
    padding: 4px 0;
    border-top: 4px solid black;
  }

  figure {
    padding: 0;
    max-width: 370px;
    border-radius: 3px;
    overflow: hidden;
    min-width: 100%;
    
    img {
      display: inline;
      
      &:hover {
        box-shadow: none;
        opacity: 0.8;
      }
    }

  }

  ul {
    text-align: center;
    @media(min-width: @screen-md) {
      text-align: left;
    }

    list-style: none;
    padding: 10px 0 0;

    li {

      @media(min-width: @screen-md) {
        display: inline-block;
        width: 23%;
        height: 180px;
        border-right: 1px dashed gray;
        margin-right: 2%;
        padding-right: 2%;

        &:last-child {
          border-right: none;
          margin-right: 0;
          padding-right: 0;
        }
        
        figure {
          height: 100px;
        }
      }

      a {
        font-weight: bold;
        font-size: 0.9em;
        color: @mstred;
      }
    }
  }
}
